body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;

}

.nav-link {
    text-align: center;
}

.nav-link > li {
    text-decoration: none;
    margin-top: 15px;
    margin-left: 46px;
    margin-right: 48px;
    display: inline;
    letter-spacing: 9px;
    font-size: large;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    font-size: 16px;
    color: #f3cd00;
}

.container {
    max-height: 100%;
    display: flex;
}

img {
    margin-top: 22px;
}

.afrobeats-about {
    float: right;
}

.info-title {
    text-align: center;
    letter-spacing: 4px;
}

.info {
    margin: 40px 50px 20px;
    letter-spacing: 4px;
    word-spacing: 7px;
}